@media (max-width: 600px) {
    nav ul {
        gap: 8px;
    }
    p {
        margin: 0px 10px;
    }
}

@media (min-width: 768px) {
    footer ul {
        flex-direction: row;
        justify-content: center;
        gap: 20px
    }
}