@use "../utilities/variables";

footer ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    background-color: variables.$blanco;
}

footer a {
    text-decoration: none;
    color: variables.$gris;
    font-weight: 500;
}

footer a:hover {
    color: variables.$rojo;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 15px;
}

.social img {
    width: 35px;
    height: 35px;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.social img:hover {
    transform: scale(1.1);
}