img {
    display: block;
    width: 50%;
    height: auto;
    object-fit: cover;
    margin: auto;
    border-radius: 12px;
}

img.icon {
    width: 35px;
    height: 35px;
    object-fit: contain;
}